.details-background {
    background-image: url(../../resources/Details.jpg);
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

@font-face {
    font-family: "Milkshake";
    src: url("../../resources/font/Milkshake.ttf");
    font-family: "QumpellkaNo12";
    src: url("../../resources/font/QumpellkaNo12.otf");
}

.img-container {
    padding-bottom: 2rem;
}
.det-img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2rem;
    width: 32rem;
    height: 22rem;
}

.det-data-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    height: auto;
    background-color: ivory;
    border-radius: 5rem;
    border-style: solid;
    border-color: burlywood;
}
.content-det {
    display: flex;
    color: rgba(200, 99, 11, 0.992);
    justify-content: flex-start;
    align-items: flex-start;
}

.detail-grid {
    font-family: "QumpellkaNo12";
    color: aqua;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-grow: 3;
}

.sum-sbs-ctn {
    display: flex;
    flex-direction: column;
    border-radius: 13rem;
    background-color: ivory;
    border-style: solid;
    border-color: burlywood;
    text-align: center;
}

.wrapper-text-summary {
    padding-left: 5%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sum-sbs-t {
    font-family: "QumpellkaNo12";
    font-size: 1.3rem;
    color: rgb(30, 169, 193);
}
.sum-sbs {
    font-size: 1rem;
    color: rgba(200, 99, 11, 0.992);
    text-decoration: none;
}
