.home-background {
    background-image: url(../../resources/Home.jpg);
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    justify-content: center;
    width: 80%;
    margin: auto auto;
    margin-top: 30px;
}
