.pagination-buttons {
    color: rgb(7, 130, 125);
    padding-top: 1rem;
    align-items: center;
    justify-content: center;
    bottom: 10px;
    width: 100%;
    z-index: 1000000;
    left: 45vw;
    display: flex;
}

.pagination-buttons > div {
    width: 20px;
    margin: 2px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.current {
    font-size: 1.3em;
    line-height: 21px;
    color: blue;
}

.pagination-buttons > div:active {
    color: red;
}
