.background {
    background-image: url(../../resources/Landing.jpg);
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}
.container-h1 {
    color: rgb(9, 93, 99);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 200px;
}
@font-face {
    font-family: "Milkshake";
    src: url("../../resources/font/Milkshake.ttf");
}
.welcome {
    font-family: "Milkshake";
    src: url("../../resources/font/Milkshake.ttf");
    font-size: 4rem;
}

.container-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}
.Button-Home {
    background-color: burlywood;
    cursor: pointer;
    position: relative;
    padding: 10px 40px;
    margin: 0px 8px 8px 0px;
    float: left;
    border-radius: 2rem;
    font-family: "Milkshake";
    src: url("../../resources/font/Milkshake.ttf");
    font-size: 3rem;
    text-shadow: 0px -2px #5e4b1b;
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
}

.Button-Home:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, 0.5);
}

.Button-Home:active {
    transform: translateY(-3px);
}

.Button-Home::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transition: all 0.3s;
}

.Button-Home:hover::after {
    background-color: rgb(160, 111, 6);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

.footer {
    position: absolute;
    width: 100%;
    text-align: center;
    color: rgb(11, 10, 10);
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5rem;
    top: 950px;
}
